.blog {
  padding: 16px 0 50px;

  &__page-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 15px;

    @media (max-width: 411px) {
      font-size: 30px;
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 32px 0 29px;
    border-bottom: 1px solid #E0E0E0;

    @media (max-width: 411px) {
      padding: 18px 0 24px;
    }
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 10px;
    transition: all .3s;

    @media (max-width: 411px) {
      font-size: 26px;
      line-height: 38px;
    }

    &:hover {
      color: #FF6464;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    span {
      margin: 0 20px;

      @media (max-width: 411px) {
        margin: 0 14px;
      }
    }
  }

  &__date {
    font-size: 20px;
    line-height: 29px;

    @media (max-width: 411px) {
      font-size: 16px;
      line-height: 23px;
    }
  }

  &__category {
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;

    @media (max-width: 411px) {
      font-size: 16px;
      line-height: 23px;
    }
  }
}