.futured-works {
  padding: 30px 0 80px;

  &__title {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      margin-bottom: 0;
      font-size: 18px;
      text-align: center;
    }
  }

  &__items {
    @media (max-width: 600px) {
      display: flex;
      overflow: auto;

      .works__item {
        flex: 0 0 95%;
        margin-right: 15px;
      }
    }
  }
}